h2 {
  font-size: 27px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 10;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(400px, 60%, 800px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(180deg, #909090 0%, #505050 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  z-index: 10;
}

label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(179, 179, 179);
  margin: 5px;
  color: rgba(10, 10, 10, 1);
}

input:focus {
  border-color: #0056b3;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-cancel,
button[type='submit'] {
  width: 120px;
  color: black;
  border: none;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .2);
}



.btn-cancel {
  background: linear-gradient(40deg, rgb(201, 23, 23) 10%, rgb(190, 82, 20) 100%);

}

.checkbox {
  display: none;
}

.label-check {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  align-items: center;
  margin: 0;
  margin-left: 16px;
  cursor: pointer;
}

.circle-check {
  position: relative;
}

.circle-check::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid #4a90e2;
  border-radius: 50%; 
  background-color: transparent;
  margin-right: 8px;
  /* transition: all 0.3s; */
}

.span-check::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 4px; 
  background-color: transparent;
  border: 3px solid #ddd;
  border-width: 0 0 3px 3px;
  box-sizing: content-box;
  transform: rotate(-45deg);
  left: 6px;
  top: 7px;
  opacity: 0;
  transition: opacity 0.3s;
}

.checkbox:checked + .circle-check .span-check::after {
  opacity: 1;
  transition: opacity 0.3s;
}

@media (max-width: 550px) {
  form {
    width: clamp(350px, 60%, 800px);
    padding: 26px;
    margin: 0;
  }
}