#root {
  min-width: 400px;
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(-45deg, #4563e9 0%, rgb(137, 81, 241) 100%);
  background-clip: text;
  color: transparent;
}
